body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Domine', serif;
    color: #9932CC;
}

section{
    padding:30px;
    margin: 0 auto;
}

#studyGuide{
    font-family: 'Domine', serif;
    font-size:36px;
    text-align: center;
    padding:10px;
    color: #ffffff;
    background-color:#9932CC;
}

.title {
    font-family: 'Domine', serif;
    font-size:26px;
    border-bottom: 2px solid #9932CC;
}

.button {
    padding:5px;
    border:1px solid black;
    width:90px;
    margin:0 auto;
}
